<div class="container">
  <hr>
  <h2>Lista de pagos</h2>
  <span class="clearfix"></span>
  <hr>
  </div>
  <table class="table" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Fecha</th>
        <th scope="col">Dirección</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>