<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="nav-link">BIENVENIDO </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['producto']">PRODUCTO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['proveedor']">PROVEEDORES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pagos']">PAGOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['clientes']">USUARIOS</a>
      </li>
    </ul>
  </div>
</nav>