<div class="container">
  <hr>
 <button type="button" class="btn btn-success btn-lg pull-right float-right" (click)="btnClick()" >AGREGAR</button> 
  <h2>Todos los usuarios</h2>
  <span class="clearfix"></span>
  <hr>
</div>


<div *ngFor="let usuario of users" class="card card-body mb-2">
  <div class="row">
    <div class="col-md-8">
      <ul>
        <li>
          id: {{usuario._id}}
        </li>
        <li>
          name: {{usuario.name}}
        </li>
        <li>
          lastname: {{usuario.lastName}}
        </li>
        <li>
          dni: {{usuario.dni}}
        </li>
        <li>
          fecha: {{usuario.date}}
        </li>
        <li>
          phone: {{usuario.phone}}
        </li>
        <li>
          direccion: {{usuario.diretion}}
        </li>
        <li>
          usuario: {{usuario.user}}
        </li>
        <li>
          contraseña: {{usuario.password}}
        </li>
      </ul>
      <button class="btn btn-danger" (click)="deleteUser(usuario._id)">
        Eliminar
      </button>
      <button class="btn btn-secondary" [routerLink]="['/newuser/edit', usuario._id]">
        Editar
      </button>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
