<div class="row">
  <div class="col-sm-4 offset-md-4">
      <div class="card card-body">
          <form (submit)="submitProveedor()">
              <div class="form-group">
                  <input type="text" name="name" [(ngModel)]="proveedor.nombre" class="form-control" placeholder="Nombre" autofocus>
              </div>
              <div class="form-group">
                  <input type="text" name="direction" [(ngModel)]="proveedor.direction" class="form-control" placeholder="Dirección" autofocus>
              </div>
              <div class="form-group">
                  <input type="text" name="phone" [(ngModel)]="proveedor.phone" class="form-control" placeholder="Telefono" autofocus>
              </div>
              <button class="btn btn-primary btn-block">
                  Guardar
              </button>
          </form>
      </div>
  </div>
</div>